.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 2em;
}

.projects article {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3; 
    gap: 0.5em;
}

.projects img {
    width: 100%;
    height: auto;
    background: #f0f0f0;
}

.projects h2 {
    margin: 0;
    font-size: 1.5rem;
}

.project-year {
  font-family: "Baskerville", "Georgia", serif;
  font-variant-numeric: oldstyle-nums;
  font-style: italic;
  color: #666; 
  margin-top: 0.5rem;
  display: block;
}

.project-description {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

#projects-pie-plot {
  max-width: 20em;
  margin-block: 2em;

  overflow: visible;
}
